[2016-04-03 13:36] jazibobs opened #1 "Canvas doesn't track quick click and drags"
I was playing with your demopage - http://fiala.uk/atrament.js/demo/ -  and noticed that when I try to draw lines quickly (e.g. I tried to draw a horizontal line quickly from one side canvas to another) the line stops after around only 100px or so.

[2016-04-03 13:41] jakubfiala commented on #1
hey, thanks, I'm aware of this issue – it's probably because of the adaptive filtering, I'll fiddle with the params and fix it asap.

[2016-04-03 14:09] jakubfiala commented on #1
Ok, I didn't completely remove this behaviour, as it's inherent in the smoothing filter – if you move too fast, the filter will not be fast enough to catch up. However, I did lower the smoothing limit, so now the line shouldn't stop too soon. Only pushed to master for now, as I don't want to make releases for these hotfixes. Thanks for pointing it out!

[2016-04-03 14:09] #1 closed

[2016-04-11 20:09] reccanti opened #2 "export as module"
It doesn't look like this exports Atrament as a module. It would make it a lot easier to bundle it using tools like browserify or webpack.

[2016-04-11 20:15] jakubfiala commented on #2
indeed it doesn't, I just used the npm stuff to have a build system. Will definitely get around to running it through webpack at some point, but PRs are also most welcome!

[2016-04-12 15:31] ptkach opened #3 "Add new mode"
Hi,

Thank you for very nice library. I'm really excited to use it in my project.
Do you consider adding FILL as a third mode? I think it could be very useful

Thank,
Pavlo

[2016-04-12 16:02] jakubfiala commented on #3
Hi Pavlo, thanks for the suggestion! How exactly do you imagine the fill mode to work? Would it be like *draw a path > path gets closed and filled* or more like the Photoshop paint bucket tool?

Because the latter might be a bit too complex, as the lib would have to keep track of all the paths that exist on the canvas. Alternatively, it could perform some kind of a recursive algorithm to fill all

[2016-04-12 17:13] ptkach commented on #3
Thank you for reply. I was having in mind something more like Piant bucket fill works.

Your idea with rec algo which fills pixels sounds more reasonable to me. Let me try to implement it and in case of successful result I will open PR

[2016-04-12 17:17] jakubfiala commented on #3
cool, thanks a lot! It'll be interesting to see how it performs. This would be a great feature, as then people could make colouring books and stuff!

[2016-04-13 00:59] reccanti commented on #2
I made a fork of the project and have been working on making an exportable bundle using webpack. I got the basics of it working on a branch called [feature-modules](https://github.com/reccanti/atrament.js/tree/feature-modules). I want to touch it up a bit more before submitting the pull request.

[2016-04-13 08:35] jakubfiala commented on #2
Awesome, looks great. I think together with #4 this could be a good amount of changes for a new release.

[2016-04-13 15:25] jakubfiala commented on #3
This is fixed in #4 and available on `master` until v0.2.0 release. Closing now.

[2016-04-13 15:25] #3 closed

[2016-04-13 16:16] bradmartin opened #5 "Demo: Fill mode locks up browser (Chome & Firefox tested)"
![fillbroken](https://cloud.githubusercontent.com/assets/6006148/14500779/fdee8640-0168-11e6-8ad7-f57707c195ea.gif)

If I get some time I'll run some profiling to see what's happening. When you change to fill mode in Chrome it will lock up the browser. It's not real evident but in the gif after it locks (shows spinner) I'm trying to click the controls, slide the range inputs with no responsiveness

[2016-04-13 16:25] jakubfiala commented on #5
Hi, thanks for letting me know! Does this happen on both Chrome and FF then? What versions of both are you using? Which OS?

You might have noticed that this feature was added literally a few moments ago, so it's possible there are still bugs. However, I can't replicate this on Chrome or FF. Also, since it happens immediately after you switch the mode, it's probably not related to the filling algo

[2016-04-13 16:31] bradmartin commented on #5
Yea I noticed the update. It happens on both, FireFox does return the "unresponsive script" error dialog.
![ffdemo](https://cloud.githubusercontent.com/assets/6006148/14501209/e0c31688-016a-11e6-8ba1-dea60a38924f.PNG)

*Chrome* = Version 49.0.2623.112 m
*FireFox* = 43.0.1 && 44.0.2 && 45.0.2 (it's been awhile since I've used FF so I tested, updated, tested and updated each version :smile: )

[2016-04-13 16:45] jakubfiala commented on #5
Hmm I've got the same versions, too, so this must be a platform-specific issue. Unfortunately I don't have access to a PC. Would you be able to build the lib from the source, and perhaps do some console logs to see where it breaks? It's probably going to be somewhere in the `set mode(m) ...` setter in the `Atrament` class.

If not, I can get hold of a PC at some point, it just won't be today I'm a

[2016-04-13 17:07] bradmartin commented on #5
I'll try to run the source and do some logging and profiling if possible. Might be later today. I'll let you know if I find anything :+1:

Just changing the mode seems to lock it up.

[2016-04-13 23:05] ptkach commented on #5
I checked it on PC in Chrome and FF and if you try to fill whole canvas JS thread locks UI for a 5-7 seconds. In Mac it's faster ~ 3-4 sec.

@jakubfiala I reverted my local version to commit I did first on bucket filling and in Chrome on Mac it takes kinda 0.5 sec for a whole canvas filling, on PC ~ 1sec.

Will go deeper to understand what change makes it lag

[2016-04-13 23:11] jakubfiala commented on #5
@ptkach that's good to know. In the future we'll be able to pass `ImageData` to a Web Worker so the JS thread doesn't freeze at all, but who knows when that will get 100% browser support.

One thing I did change in my modifications was that each colorPixel operation also performs two extra matchColor checks and potentially colors the two neighboring pixels, so that could be part of the problem.

I

[2016-04-13 23:39] ptkach commented on #5
I think it makes sense to check with my changes. Now it should be several times faster (< 1sec on PC).

[2016-04-14 14:41] jakubfiala commented on #5
@bradmartin #6 is now merged to both master and gh-pages, so you should be able to test this problem with the demo.

[2016-04-14 14:56] bradmartin commented on #5
Much better :+1:

[2016-04-14 14:56] #5 closed

[2016-04-17 07:20] amsourav opened #8 "How do I export/import canvas data to/from JSON?"
Libraries like fabric.js and paper.js have a toJSON() to extract canvas data as JSON. Do you plan to implement it?

[2016-04-17 07:37] jakubfiala commented on #8
Hello! Unlike fabric.js and paper.js, Atrament is entirely bitmap-based, i.e. it does not store the stroke coordinates etc. This is because it's not really meant for complex vector rendering, you could think of it as a simple canvas manipulation addon, rather than a rendering library.

So I'm afraid there's no way we can do JSON export. We do, however, allow you to export the image with the `toIma

[2016-04-17 07:38] #8 closed

[2016-04-17 13:12] jakubfiala commented on #2
Closing this now, thanks @reccanti for webpacking this in #7 🎉

[2016-04-17 13:12] #2 closed

[2016-04-21 07:48] rubenstolk opened #9 "Good stuff!"
For the record:

- [x] I registered atrament with bower (so `bower install atrament` works)
- [x] I created a Polymer wrapper element: https://github.com/safetychanger/sc-atrament

Perhaps good to add to the README!

[2016-04-21 08:11] jakubfiala commented on #9
Thank you so much! Been meaning to add it to bower for a while, awesome! Readme is now updated

[2016-04-21 08:11] #9 closed

[2016-07-06 22:25] loucapo opened #10 "unexpected token '('"
i'm not sure where to look so I thought I would post it here. I am using atrament in my app and it works fine in chrome and firefox but in safari its giving me a strange error:

unexpected token '('

at this line:

set(x, y) {

in Point

any ideas?

[2016-07-07 09:02] jakubfiala commented on #10
Hi, it seems like you're using the ES6 source script located at `src/atrament.js`. This won't run in Safari yet because it doesn't support ES6 syntax.

It's best to use the `dist/atrament.min.js` file, as that's transpiled and minified.

[2016-07-07 11:47] loucapo commented on #10
I had a feeling it was the ES6 thing. But then I saw it worked for your demo page and that confused me. I guess I incorrectly assumed dist and src were the same version; just dist was minified. Either way, its working now so thanks!

[2016-07-07 11:47] #10 closed

[2016-08-12 14:17] jordyvandomselaar opened #11 "When moving mouse fast the line becomes humongous"
As the title says.
When I move my mouse slowly the line is very thin, but when I move it faster it becomes HUGE! How can I fix this?

[2016-08-14 10:29] jakubfiala commented on #11
Hey, thanks for letting me know. Got any screenshots of what you mean? The line is meant to get thicker based on mouse speed, in order to create a more realistic "ink-like" look. But it shouldn't be a massive difference.

Have you, by any chance, got an unusual mouse or display? Like a hi-dpi mouse?

[2016-08-15 07:24] jordyvandomselaar commented on #11
Image: http://prntscr.com/c5v0bz, would it be possible to turn this effect off?
I'm using a regular mouse but the app I'm using this in will get deployed on Ipads

[2016-08-15 08:19] jordyvandomselaar opened #12 "When scrolling down the line is above the cursor"
I can't really screenshot this, but wehen I'm scrolled up the line is right underneath my cursor, and when I scroll down the line is above my cursor.

Edit:
It only happens in device emulator mode.

[2016-08-15 09:44] jakubfiala commented on #11
Thanks! It would indeed be possible to switch it off, and it's definitely an useful option. I can probably  add it by the end of the week, but please feel free to submit a PR!

[2016-08-15 09:52] jakubfiala commented on #12
I think I know what this problem is – essentially, the `mousemove` event returns coordinates that aren't scaled properly. Which device emulator mode are you using? Is it Chrome's? It might be that it doesn't take into account the viewport meta tag, or it's just a bug. Let me know if this is critical to your project, but if not I'll close this, as I don't think it's a problem with the library.

[2016-08-15 13:01] jordyvandomselaar commented on #11
Thank you! I'll see what I can do :D

[2016-08-15 14:54] jordyvandomselaar commented on #12
I've find out that this also happens on actual mobile devices (ipad). Could you look into this?

[2016-08-16 08:31] jakubfiala commented on #12
Ok, that's good to know. In that case, it may be a problem with handling the `changedTouches` [here.](https://github.com/jakubfiala/atrament.js/blob/master/src/atrament.js#L107) Sounds possible because I never tested on mobile with a scrolling canvas, only one that was `100vw, 100vh`. Will look into it.

[2016-08-17 09:10] jordyvandomselaar commented on #12
Thanks man :D

[2016-09-25 10:50] #12 closed

[2016-11-06 20:50] rubenstolk opened #14 ""is dirty" check"
It would be nice to have an indicator if anything has been drawn by the user yet. Of course needs to be reset to `false` when the user clears the canvas.

[2016-11-06 21:35] rubenstolk opened #16 "Ability to destroy (unlisten events)"

[2016-11-07 19:09] rubenstolk opened #17 "When moving outside the canvas and mouseup, drawing still continues"
- [ ] Set the `mouseup` event listener on `document`, not `canvas`

[2016-11-07 19:12] rubenstolk opened #18 "chore: eslint"
The code style is a bit messy and inconsistent here and there. Let's add `eslint` and implement a standard.

@jakubfiala feel free to assign this to me, I'll take it up sometime soon.

[2016-11-07 22:23] #14 closed

[2016-11-07 22:23] #16 closed

[2016-11-07 22:23] #17 closed

[2016-11-07 22:23] jakubfiala commented on #18
Cool, I agree. I'll assign both of us, as I might get some time to do this, too.

[2016-12-03 19:22] javismiles opened #19 "with Touch, line is away from where finger presses"
Great library, when  I use it with mouse it's perfect. But when I use it with Touch, the line doesn't appear right where the finger presses, it appears below, but quite a bit below, which is very odd, why is the line not appearing right where the finger presses? I'm using Chrome browser in both Desktop PC and Android phone, same problem in both, latest versions of all

best wishes

[2016-12-04 08:32] #19 closed

[2016-12-04 08:34] javismiles opened #20 "Bug on Edge Browser, after changing to a new color, and then drawing, the color picker opens when mouse is released"
Bug on Edge Browser: If I click on color input area and change to a new color, and immediately I go to draw, when I release the mouse the color picker opens again, I draw and when I release mouse, the color picker opens again, this happens on Microsoft Edge Browser

[2016-12-05 02:16] jakubfiala commented on #20
@javismiles thanks for letting me know, this sounds like an issue with Edge implementation of the colour input field, which I have no control of. Also I assume this affects the demo only, so you could probably get around it when you build your own application with Atrament. Going to have to close this I'm afraid.

[2016-12-05 02:17] #20 closed

[2016-12-14 22:17] ianschmitz opened #22 "Using 'fill' tool on a section that is already filled crashes browser tab"
Easy enough to repro:

1. Open demo at [http://fiala.uk/atrament.js/demo/](url)
2. Select 'fill' tool
3. Fill the canvas by clicking on the page
4. Fill again by clicking on the page
5. Notice the crash!

[2016-12-19 23:50] jakubfiala commented on #22
@ianschmitz thanks for flagging this up, seems like I haven't thought about the possibility of refilling with the same colour when testing :) gonna get rid of this nasty infinite loop asap.

[2016-12-24 16:07] melonista opened #23 "range input broken when using the library?"
Hi,

I have no idea what is going on, but when I run this code, the range selector stops working in Chrome and Firefox (it works in Edge). By "not working" I mean that in Chrome you cannot deselect the slider, and in firefox you cannot move it. This is the code:

[code]

And if I remove the atrament line, then it starts working:

[code]

I think this issue does not ocurr with the older version of

[2016-12-25 10:47] jakubfiala commented on #23
Hey @melonista thanks for raising this. I'm finally going to have some atrament time in the next few days so I'll look into fixing this

[2016-12-25 17:30] jakubfiala commented on #23
@melonista fyi this may be fixed in #24

[2016-12-25 17:30] jakubfiala commented on #22
@ianschmitz fyi this may be fixed in #24

[2016-12-25 17:39] #22 closed

[2016-12-25 22:52] jakubfiala opened #26 "Use a WebWorker for fill mode"
Need to test this, but the following approach might really enhance UX of the fill mode.

1. initiate filling, show loading cursor, block drawing until step 5
2. send the `ImageData` to a WW
3. let the WW fill the appropriate pixels while the user revels in their unblocked UI
4. WW sends back `ImageData`, we use `drawImage` to render it as it's _a lot_ faster.
5. stop filling, unblock drawing, have

[2016-12-26 01:26] melonista commented on #23
Awesome!

[2016-12-26 01:39] melonista opened #27 "saving and opening a drawing"
Hi,

I am not sure is this is a bug or not, but when I save a drawing, I cannot open it with the default image viewer of windows (Windows 10). However  I can open it with MS paint and others. Therefore I wonder if there is something wrong with the generated image.

I get the image using the `toimage()` method and then I use python to save the generated image as:

[code]
I have followed this method

[2016-12-26 09:47] jakubfiala commented on #27
hey, so the `toImage` method simply wraps the [toDataURL](https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/toDataURL) method of the canvas. Not to say that this is not a valid issue, but I wonder if this has something to do with the browser implementation of the canvas method.

[2016-12-28 07:55] melonista commented on #27
I see, the other library that I tested is https://github.com/Leimi/drawingboard.js. For some reason theirs seem to work with the windows image viewer, but it seems they are just also wrapping toDataURL.

[2016-12-28 07:55] #27 closed

[2016-12-28 08:00] melonista commented on #23
Tested and working.

[2016-12-28 08:00] #23 closed

[2016-12-29 10:23] #18 closed

[2017-01-30 20:25] teacoat commented on #11
Hey any word on this?

[2017-01-30 21:56] jakubfiala commented on #11
@teacoat completely forgot about this. I think I've got a nice bunch of updates lined up already, so might fix this and make a release soon.

[2017-01-31 22:44] jakubfiala commented on #11
@jordyvandomselaar @teacoat this is now fixed in `v.0.2.3`, available on npm right now 💥

to disable the adaptive stroke width, you can just do:
[code]

[2017-01-31 22:44] #11 closed

[2017-02-01 08:07] jordyvandomselaar commented on #11
You're awesome!

[2017-02-28 10:17] raphinesse opened #30 "Do not reset canvas size to 500x500"
IMHO, giving no width and height at all to `atrament` should not reset the dimensions of the `canvas` element. It is quite unexpected, not to say irritating.

In case you need the dimensions internally, you should instead read them from the canvas element.

[2017-02-28 10:24] raphinesse opened #31 "Clarify how to access Atrament class"
It should be clarified that `Atrament` will never be exposed automatically. From the docs, I expected it to be in global scope, when including `atrament.min.js`.

Do not get me wrong though, I think it is good that there is only one global. This is just about clear documentation.

[2017-02-28 10:34] raphinesse opened #32 "Accept options object in constructor"
I guess it would be far more useful to have a signature like this

[code]

where the second parameter is an object with properties corresponding to the publicly available properties on `Atrament` instances (according to the docs, that would include `weight`, `color`, `smoothing`, `adaptiveStroke`, `mode` and `opacity`) plus `width` and `height` (Even if I'd argue that you don't really need these l

[2017-03-04 11:49] jakubfiala commented on #32
@raphinesse thanks for the suggestion! I agree completely that such a signature would work better. It is an API-breaking change, so I'm going to flag this for v0.3.0.

Please do submit PRs if you can.

[2017-03-04 11:51] jakubfiala commented on #31
This is actually a bug, `Atrament` should be exposed when you include the lib in a script tag. Thanks for flagging this up!

[2017-03-04 11:53] jakubfiala commented on #30
well the idea was that you should always set the internal canvas size when creating `Atrament`. But yeah, I guess hard-coding the default values is odd.

[2017-03-04 11:53] jakubfiala commented on #32
stupid me, I meant to say v1.0.0

[2017-03-04 16:05] raphinesse commented on #31
You're welcome

[2017-03-04 16:12] raphinesse commented on #32
It doesn't have to be breaking. You could still support the old API and deprecate it. Something along the lines of:

[code]

[2017-03-04 16:14] raphinesse commented on #30
Is there a reason why the size should be supplied to `atrament`?

[2017-03-05 20:38] teacoat commented on #11
@jakubfiala Just saw this, thanks a lot!

[2017-06-09 08:32] BillyBlaze opened #33 "Single input is sometimes ignorned"
If you want to draw a single dot, then sometime the input get's ignored. (maybe because mousemove doesnt trigger?) See the attachment for a screen grab.

![input-eaten](https://user-images.githubusercontent.com/445608/26967156-7b58e9d2-4cfd-11e7-9e85-c458a24a4a05.gif)

Browsers affected: Chrome, Firefox, MS edge

[2017-06-13 19:01] jakubfiala commented on #33
thanks for the heads up! will look into it as soon as I can, otherwise feel free to submit a PR if you know how to fix this 😉

[2017-06-29 11:39] nielshoogendoorn opened #34 "Undo/redo"
Would really appreciate an undo/redo feature.

I guess that in order for this to work, we need to
- save snapshots of the canvas, ([example](http://www.codicode.com/art/undo_and_redo_to_the_html5_canvas.aspx)) or
- save objects / user actions in an array and redraw canvas. ([example](https://stackoverflow.com/a/17151852))

Any thoughts? Any volunteers? 😃

[2017-06-30 15:16] jakubfiala commented on #34
@nielshoogendoorn thanks for the suggestion!

Personally I think this could be advanced enough to be a separate library – I like things modular and `atrament` already does a lot of different things.

I could imagine a solution with two canvases, you capture individual strokes on the top one, and copy them over to the bottom one on `mouseup`.

My question is: if there was to be a separate package –

[2017-09-08 05:09] Ben76 opened #35 "Unable to save the canvas background color."
I am trying to save the canvas along with its background color and use it elsewhere to prepare a collage. But, I only get to see a black background. Any help to get this resolved greatly appreciated.
Regards

[2017-09-08 09:06] jakubfiala commented on #35
hey @Ben76, thanks for submitting an issue! how are you creating the background colour? The canvas should be transparent by default, so you need to draw a `fillRect(0, 0, canvas.width, canvas.height)` first.

[2017-10-20 17:04] Ben76 commented on #19
I am having the same problem. Is there a resolution to this problem? Works beautifully on a PC, problem noticed only on android phone only (chrome as well as firefox)

[2017-10-21 08:14] Ben76 opened #36 "Unable to draw on Android Chrome Browser"
I have a canvas in a Bootstrap Modal.

Works perfectly well on a PC; Not working on Android phone

Used to work well until Chrome released a new version for Android. (on 18th Oct)

Even now, if canvas placed directly on form, it works. Doesn't work when placed in Modal.

[2017-10-21 15:10] jakubfiala commented on #36
@Ben76 thanks for submitting the issue. Can you see any errors being thrown in the console? Alternatively, can you create a codepen/jsbin that demonstrates the issue?

[2018-06-11 10:45] rubenanton90 opened #37 "Fill bucket doesn't work on mobile chrome"
Steps to reproduce:

- Open the demo at [http://fiala.uk/atrament.js/demo/](http://fiala.uk/atrament.js/demo/) on chrome mobile
- Try to use the fill mode, either applied to the whole picture, or to a region delimited by a stroke. Nothing happens.

Tested on Samsung Galaxy S7 and Google Nexus 5 devices.

(As a side note, I couldn't get the demo working at all on Firefox Mobile)

Thank you

[2018-06-11 22:15] jakubfiala commented on #37
@rubenanton90 thanks for the issue! I don't currently have access to an android device but might get hold of a simulator to test.

Have you noticed any errors in the console?

[2018-06-12 11:55] rubenanton90 commented on #37
Ok, I tested on both the demo site and the project I'm working on (Cordova/Ionic 3, using Chrome WebView)
On the demo site, there's no error message and the bucket never works, debugger or not.

On my Ionic project, interestingly enough, if the chrome debugger is active on the device the fill bucket actually works! When it's working, the console complains about this, though:

![imagen](https://use

[2018-06-18 14:38] #37 closed

[2018-11-14 13:12] bencergazda commented on #36
@Ben76 @jakubfiala I was having the same issue. In my case, it occured only when we needed to scroll downwards the page to the canvas. In this situation, the scrollTop gets added to the mouse position when drawing (see ` + document.documentElement.scrollLeft` in [src/atrament.js#L31](https://github.com/jakubfiala/atrament.js/blob/master/src/atrament.js#L31)). Like this, if we scroll down for 10px,

[2018-11-16 11:56] jakubfiala commented on #36
thanks for submitting the PRs @bencergazda – and sorry I'm getting to this late!

both PRs are looking good – going to approve & merge, then test the changes and publish

[2019-08-09 08:35] #33 closed

[2019-08-09 20:39] dethe commented on #34
I'm interested in working on undo/redo, as well as adding some additional drawing tools and features (like line simplifying). Would you prefer I add those in my own branch only (and if so , would you like me to rename it to prevent confusion), or would you like PRs for these things?

I think the two canvas thing you mention is how other tools manage. I think if we add more events into the Atrament

[2019-08-11 21:26] #32 closed

[2019-08-11 21:39] jakubfiala commented on #34
@dethe this is great to hear, your use case is really cool. I'd be up for discussing the extra features you're proposing. My goal with Atrament is to make sure it conforms to "do one thing and do it well", but we already have the concept of different drawing modes (draw, fill, erase) so other tools could make sense, too.

I think we can treat undo/redo as a separate feature & track it in this issu

[2020-01-01 04:16] mgnica opened #44 "UncaughtReferenceError: 'Atrament' not defined"
Hi,

Sorry if this is the wrong way to do it, I'm not used to Github issues.

I tried using your library, but I'm getting an `UncaughtReferenceError: 'Atrament' not defined` error and I'm not sure what I'm doing wrong.
I link it in < head > tag as your code saved in my own file, then I do the syntax from the documentation. Am I missing a dependency?

My repo is at https://keybase.pub/mgnica/websit

[2020-01-01 13:43] jakubfiala commented on #44
Hi there @mgnica - thanks for submitting the issue, I had a look and it seems we stopped binding the Atrament class to `window` at some point. That's why you can't access it when you include the script via the `<head>` tag.

I'm going to fix this and let you know once the update has been pushed. Happy new year!

[2020-01-01 14:49] mgnica commented on #44
Happy new year! It looks like a great drawing tool, thanks for making it.

[2020-01-01 21:56] jakubfiala commented on #44
Hi @mgnica - I have now published Atrament 1.0.0 with a whole bunch of long-needed updates, including a fix for your issue. If you download the latest `atrament.min.js` you should be good to go.

Note that some of the updates introduce breaking API changes, so please have a look at the updated readme to see what has changed :)

[2020-01-01 22:02] jakubfiala commented on #34
Hi folks, just FYI Undo/redo is now possible to implement with Atrament 1.0.0 - see README, there is now a `recordStrokes` option and a `strokerecorded` event. Using the stroke data you should be able to store all strokes and redraw them as needed.

[2020-01-01 22:02] #34 closed

[2020-01-02 00:17] mgnica commented on #44
Hi @jakubfiala two things
a) i wrote a submit button to export image then open in new window. the image is not being exported though, it's just a blank page. as a sidenote, i want to make it so it exports then downloads the image, do you know how to do that? It's a slog to find online.
b) is there a draggable palette so users could change colors? i guess i could help code it too seeing that i want

[2020-01-02 16:48] jakubfiala commented on #44
Heya,
a) can you console.log the string that's returned by `toImage()` and paste it here? (if it's not too long)
b) I think the palette would be out of the scope of this library - I'm trying to keep the features to a minimum to avoid bloat; the goal is mainly to provide the drawing algorithms and let developers build the UI around them :) but feel free to publish it as a separate package!

[2020-01-03 04:21] mgnica commented on #44
So the error is `Not allowed to navigate top frame to data URL: data:image/png;base64,iVBORw0KGgoAAAANS [i truncated]` and the string is `data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAlgAAAJYCAYAAAC+ZpjcAAAdsUlEQVR4Xu3WMREAAAgDMerfNCZ+DAI65Bh+5wgQIECAAAECBFKBpWvGCBAgQIAAAQIETmB5AgIECBAgQIBALCCwYlBzBAgQIECAAAGB5QcIECBAgAABArGAwIpBzREgQIAAAQIEBJYfIECAAAECBAjEAgIrBjVHgAABAgQIEBBYfoAAAQIECBAgEAsIrBjU

[2020-01-03 04:36] mgnica commented on #44
wow, that's really long.
b) ok, yah sure. i'll release when done :D

[2020-01-03 11:15] jakubfiala commented on #44
Okay, the dataURL seems fine, so it must be that the browser is refusing to open the window. I'd suggest finding another way to download the drawing, such as creating an `<img>` element and setting the `src` to the dataURL, or using `<a href="..." download="image.png"></a>`. Anyways, I'm going to close this issue as the import bug has been resolved.

[2020-01-03 11:15] #44 closed

[2020-01-03 11:17] jakubfiala commented on #31
Hi @raphinesse - just FYI, in Atrament 1.0.0 the `Atrament` class is the default export, I got rid of the factory function.

[2020-01-03 11:17] #31 closed

[2020-01-04 03:57] coranos opened #45 "beginDrawing/stopDrawing do not record mouse positions"
https://github.com/jakubfiala/atrament.js/blob/59d3e6767b0b27e555c215e906993a616ea1d408/src/atrament.js#L151

[2020-01-04 04:00] coranos opened #46 "mouse position is not recorded on mouseup, so replaying or undoing strokes dosent' work."
https://github.com/jakubfiala/atrament.js/blob/59d3e6767b0b27e555c215e906993a616ea1d408/src/atrament.js#L93

[2020-01-04 10:54] jakubfiala commented on #45
Hi @coranos - thanks for submitting this and #46. I will make it so the start/end positions are recorded, and also provided to strokestart/strokeend events

[2020-01-04 10:54] jakubfiala commented on #46
this is basically the same issue as #45 so closing this and renaming that one

[2020-01-04 10:54] #46 closed

[2020-01-04 17:37] coranos commented on #45
cool. if you are interested, here is my demo for 'undo'

https://coranos.github.io/bananos/sketch/

[2020-01-04 17:39] davidlr99 opened #47 "Erase does not work"
I tried to change the drawing mode to` sketcher.mode = 'erase'` - does not seem to work in the new version.
Its also not working in your demo anymore: http://fiala.uk/atrament.js/demo/

[2020-01-05 12:45] jakubfiala commented on #47
thanks for the heads up @davidlr99. I feel like I'm gonna have to write some tests at some point.. will fix the erase function in the next update ASAP.

[2020-01-05 13:51] jakubfiala commented on #47
Hi @davidlr99 - this should now be fixed in [v1.1.0](https://github.com/jakubfiala/atrament.js/releases/tag/v.1.1.0). Feel free to reopen if you still encounter issues.

[2020-01-05 13:51] #47 closed

[2020-01-05 13:53] jakubfiala commented on #45
Hey @coranos - this should now be fixed in [v1.1.0](https://github.com/jakubfiala/atrament.js/releases/tag/v.1.1.0). Feel free to reopen if you still encounter issues.

N.B. I decided to rename `begin/endDrawing` to `begin/endStroke` so the names are more descriptive of what the methods actually do.

[2020-01-05 13:53] #45 closed

[2020-02-09 18:39] bharatbondu opened #48 "Is there an option to save or convert the drawing in SVG format?"

[2020-02-09 20:56] jakubfiala commented on #48
Hey @bharatbondu - thanks for asking! SVG export isn't built in to the library, but you could implement it by recording the stroke data and generating SVG paths from it. Have a look at [the Programmatic Drawing](https://github.com/jakubfiala/atrament.js#programmatic-drawing) section of the readme - essentially instead of then calling `atrament.draw`, you could use the stroke data to build a [SVG p

[2020-02-09 20:56] #48 closed

[2020-03-17 22:40] stmn opened #50 "Library should not add event listener on document"
I mean this:

If something is happening outside of canvas (for example button clicking) it should not have any side effects for canvas, but it has currently. It's just a bad behaviour. Don't you agree?

[2020-03-18 19:23] jakubfiala commented on #50
@stmn thanks for asking - unfortunately here it's necessary, because if your cursor leaves the canvas mid-stroke, and then you release the mouse button, the library needs to end the stroke. If it didn't, you could release the mouse, and when you moved over the canvas again, you'd still be drawing that one original stroke.

We could also use `mouseout`, but then every time you accidentally leave th

[2020-03-18 19:23] #50 closed

[2020-04-14 12:23] MisterDA opened #51 "Stream the canvas as the drawing is made"
Hi!

I’d like to stream the drawing as it’s being made to other clients. I’m looking for ways to do that.

One way would be to [capture the stream](https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/captureStream) of the canvas, and stream it via WebRTC.

Another would be to get real-time information of the drawing (points, colors, etc) and replay the movements on listener devices.

[2020-04-14 22:17] jakubfiala commented on #51
Hi there @MisterDA, thanks for submitting your question! This is a very interesting proposition, I think both techniques you mention are sensible. I guess it depends on your use case. Capturing the stream would allow you to broadcast anything that happens to the canvas (not just Atrament drawing), and crucially, the timing would be much more precise. With compression I think the bandwidth also wou

[2020-04-15 08:23] MisterDA commented on #51
Does Atrament have a "real time" event watcher that would allow sending the drawing moves as they are made?

Of course, I’d like to do a simple online Pictionary :) Atrament seems the nicest sketchpad lib out there.

[2020-04-16 18:03] jakubfiala commented on #51
Amazing! Atrament does indeed support stroke recording, see the section on [Programmatic Drawing](https://github.com/jakubfiala/atrament.js#programmatic-drawing) in the README. Let me know if you have any further questions :)

[2020-04-16 18:09] jakubfiala commented on #35
closing this issue as it hasn't been active for a few years

[2020-04-16 18:09] #35 closed

[2020-05-11 11:40] alireza23 opened #52 "opacity does not work"
opacity does not work on demo!

[2020-06-01 10:47] jakubfiala commented on #52
thanks for reporting this @alireza23 - this option was removed in v1.0.0 of the library, because it doesn't really make much sense. See the [v1.2.0](https://github.com/jakubfiala/atrament.js/releases/tag/v1.2.0) release for a fix and explanation.

[2020-06-01 10:47] #52 closed

[2020-06-01 10:48] jakubfiala commented on #51
closing this as it seems the question has been answered :pray:

[2020-06-01 10:48] #51 closed

[2020-07-04 19:53] jnsglmllr opened #53 "Problems with hand-down on iPad with apple pencil"
First off - great stuff. Thank you!

I am having trouble on using atrament.js on an iPad Pro with Apple Pencil. While writing the wrist-detection seems to have some difficulties during the way so a moosdown is simulated where my wrist is again and again. So when I write a sentence I get like 10 straight strokes on my canvas.

I guess some kind of test has to be run if the new mouseDown is done bef

[2020-07-05 16:01] jakubfiala commented on #53
hey @jnsglmllr, thanks for reporting this issue! This is indeed most likely because Atrament always uses the latest "changed touch" to draw, so we'll have to fix that. Will look into it as soon as I can, otherwise feel free to submit a PR :)

[2020-08-07 20:24] uriberto opened #56 "Demo link"
The demo link no longer works. It goes to your homepage instead of the atrament demo.

[2020-08-08 08:42] jakubfiala commented on #56
@uriberto thanks for the heads up! I recently switched to a different domain, and forgot to update this. Should be up to date now :+1:

[2020-08-08 08:42] #56 closed

[2020-08-09 02:09] uriberto opened #57 "Save strokes with uniform sizes"
I'm not sure if this is a bug or a feature, but the canvas does not handle resizing on its own. In particular, because the strokes are saved with absolute x/y coordinates, you have to be careful when you repaint the canvas that the size of the original canvas was the same as the size of the current canvas. I suggest saving the points in strokes always to a canvas of a uniform (large) size, then ha

[2020-08-09 02:10] uriberto commented on #56
Thanks for the update, and thanks for the really nice library!

[2020-08-11 18:47] jakubfiala commented on #57
@uriberto thanks for the suggestion! my original thought with this particular way of representing the strokes was that the library shouldn't be opinionated on how (and whether) strokes are saved. If I implement this behaviour, the library would have to keep track of all the strokes that are currently on the canvas, but I can't guarantee it would do it in a way that the application requires.

For i

[2020-10-12 09:01] uriberto opened #60 "Add a "disable" option for drawing mode."
It might be convenient to have a sketchpad open but disable drawing. For example, maybe some users are allowed to draw and others can see the drawing (via syncing the strokes in realtime) but those users should not be able to draw themselves. For example, that could be useful for a virtual blackboard. It'd be nice to set their sketchpad to "disabled" mode. I think this only requires adding the opt

[2020-11-01 10:38] jakubfiala commented on #60
@uriberto thank you for your contribution, this feature has now been shipped in [https://github.com/jakubfiala/atrament.js/releases/tag/v1.3.0](url)

[2020-11-01 10:38] #60 closed

[2020-11-01 10:57] jakubfiala commented on #36
@viettq1986 thanks for reporting the issue. Could you please let me know how I can replicate the issue in your app? I'm having trouble finding the place where Atrament is used.

Also, what version of Android (and Chrome) are you using?

[2020-11-01 10:58] jakubfiala commented on #57
closing this for now, happy to reopen if there are any new suggestions!

[2020-11-01 10:58] #57 closed

[2020-11-01 17:29] viettq1986 commented on #36
Hello, Sorry for your Atrament.

Please see my step by step:

![image](https://user-images.githubusercontent.com/72916589/97809776-a1839680-1ca1-11eb-8fc1-e6e17e7365c2.png)

![image](https://user-images.githubusercontent.com/72916589/97809783-a9433b00-1ca1-11eb-90e5-60cfea105c45.png)

![image](https://user-images.githubusercontent.com/72916589/97809784-af391c00-1ca1-11eb-969f-892172b6bf5e.png)

![

[2021-01-16 09:08] jnsglmllr commented on #53
Hey @jakubfiala! Did you already have time to look into this issue? Thanks a lot 👍

[2021-01-23 09:29] jakubfiala commented on #53
hey @jnsglmllr - really sorry, somehow I didn't get round to it. It's partly because I don't own an iPad I could test it on. I do think it should be possible to fix by keeping track of the first registered `Touch` object on mouse down, and only considering the `mousemove` event if the `changedTouches` array contains this Touch.

I would encourage you to try it and make a pull request if you have t

[2021-02-22 05:40] jkhaui opened #64 "How to retain smoothing effect in SVG when programmatically creating SVG from stroke data"
Hey @jakubfiala,

Thanks for the great library - definitely the most realistic canvas drawing package I've come across.

I am working with another developer to export the canvas data created by Atrament to an SVG. We've achieved this by listening to the "stroke recorded" event and using the returned data to re-draw the image onto a specialised canvas provided by https://github.com/gliffy/canvas2sv

[2021-02-26 18:18] jakubfiala commented on #64
hey there @jkhaui - thank you for reaching out! I'm really glad you like Atrament; the use case you're describing is very interesting indeed. To replicate Atrament's drawing algorithm in SVG, you'd have to either reimplement the [draw](https://github.com/jakubfiala/atrament.js/blob/master/src/atrament.js#L220) method yourselves, using the `Q` path command (equivalent to canvas' `quadraticCurveTo`)

[2021-04-13 08:07] uriberto opened #67 "Sometimes drawing adds a line between beginning and end of stroke"
I can't seem to figure out what is causing this, as it doesn't always happen. Sometimes when I draw on the canvas, when I let the mouse up, I get an extra straight line from the end point of the stroke to the beginning point of the stroke. I'm not 100% sure it's a bug. I could have implemented atrament wrong, but I can't seem to find it. Also, it's not saving that extra line to the stroke because

[2021-04-14 01:10] uriberto commented on #67
Sorry to have posted too early. I seem to have figured it out. In resizing canvas on window size change, I was re-initializing the sketchpad. So, I already had called sketchpad = new Atrament(canvas), and then called it again. I'm not sure why that caused this particular behavior, but it did.

[2021-04-14 01:10] #67 closed

[2021-05-25 19:32] nidoro opened #71 "Undo implementation"
Hello,
I'm getting unexpected results from my undo implementation. This is how I'm doing it:

**1. Initialize (global) empty array of strokes:**
`let strokes = []`

**2. When `strokerecorded` is fired, push stroke to array:**
[code]

**3. When the undo button is pressed, do the following:**
[code]

But this is what I get:
![Peek 2021-05-25 16-15](https://user-images.githubusercontent.com/21699304/

[2021-08-21 16:36] ndmetrick opened #74 "question about layers/transparency"
We're a group of students looking for a drawing library to use for a game we're making, and we love Atrament, but we need something that will save the drawing on a transparent background so we don't have the white square of canvas. I didn't know if there was a way to do that using Atrament, but thought I'd ask.

[2021-08-21 22:09] ndmetrick commented on #74
I don't know why I thought it didn't automatically do this...but we figured it out.

[2021-08-21 22:09] #74 closed

[2021-08-22 09:40] jakubfiala commented on #74
@ndmetrick thank you for reaching out! yes indeed Atrament simply draws on top of whatever is on the canvas, so by default that's a transparent background. Glad to hear you're using Atrament for your game, I'd be happy to check it out if you want :)

[2022-05-12 13:10] profispojka opened #77 "Realtime draw updates"
strokerecorded event fires up only on mouseup. Is there an event that gives me real time draw data?

[2022-05-13 18:44] profispojka commented on #77
Prepared a PR for this but i dont have permissions. Could you take a look?
![image](https://user-images.githubusercontent.com/48156162/168347427-5000e78b-30aa-4042-b1d8-2b162c838288.png)

@jakubfiala

[2022-05-14 08:57] jakubfiala commented on #77
Hello @profispojka - thank you for flagging this up, I think it sounds like a useful event to have. I think you can open the PR if you fork the repository, and then make a PR with this repository's `master` branch as the base :) I would also suggest calling the event `pointdrawn` - because at this point we haven't got a complete stroke.

In any case, big thanks for your contribution! Once the PR i

[2022-05-14 08:59] jakubfiala commented on #71
@nidoro thank you for submitting the issue! Apologies for only getting to this now, I haven't been able to dedicate time to this lib for a while. I'll test your use case, try to reproduce the bug and fix it in the next few weeks.

[2022-05-14 18:47] profispojka commented on #77
Hi Jakub. PR is ready, please check it out. https://github.com/jakubfiala/atrament.js/pull/78

[2022-08-14 01:20] feored commented on #71
Thanks for this example @nidoro . I modified it slightly to add support for fills, and fixed a few things that I assume have changed since your post (Point.point.x instead of point.x, ...). Not battle tested or anything but might save someone else a bit of trouble.

[code]

[code]